include ../_blocks/hello
include ../_blocks/skills
include ../_blocks/tools
include ../_blocks/projects
include ../_blocks/contacts

- var isDevelopment = false;

- var duration =	"0.25s";
- var delay =		0.75;
- var stagger =		0.25;

- var favicons = [{rel: "shortcut icon", sizes: "", href: "img/favicons/favicon.ico"}, {rel: "apple-touch-icon", sizes: "", href: "img/favicons/apple-touch-icon.png"}, {rel: "apple-touch-icon", sizes: "72x72", href: "img/favicons/apple-touch-icon-72x72.png"}, {rel: "apple-touch-icon", sizes: "144x144", href: "img/favicons/apple-touch-icon-114x114.png"} ];

doctype html
html( lang="ru" )
	head
		meta( charset="utf-8" )
		meta( name="viewport", content="width=device-width, initial-scale=1.0" )

		title
			block title

		each item in favicons
			link(rel=item.rel, sizes=item.sizes, href=item.href)

		block styles
		if (isDevelopment)
			link( href="css/main.css", rel="stylesheet" )
		else
			link( href="css/main.min.css", rel="stylesheet" )

	body
		block content

		block scripts
			if (isDevelopment)
				script( src="js/main.js" )
			else
				script( src="js/main.min.js" )
