.list
	&__item
		margin-bottom 10 * $px

	&__lead
		margin-bottom 10 * $px
		font-size 26 * $px
		line-height 0.8
		+above($screen-sm)
			margin-bottom 15 * $px
			font-size 30 * $px

		+above($screen-md)
			font-size 34 * $px

	&__title
	&__title > &__link
		margin-bottom 15 * $px
		font-family $headings-font-family
		font-size 34 * $px
		line-height 1
		letter-spacing 1.5px

		+above($screen-sm)
			font-size 38 * $px
			margin-bottom 20 * $px

		+above($screen-md)
			font-size 42 * $px

	&--nested
		list-style-type none
		margin 0
		padding 0

	&__text
	&__link
		font-size 20 * $px
		line-height 1
		+above($screen-md)
			font-size 24 * $px
			line-height 1.2

	&__text
		margin 0
		margin-bottom 20 * $px

	&__link
		text-shadow 4 * $px 4 * $px 5 * $px rgba($gray-base, 0.5)
		&:hover
			text-shadow 4 * $px 4 * $px 5 * $px rgba($gray-base, 0.25)



.pane
	&__container
		padding-left 10 * $spacing
		padding-right 10 * $spacing

		> .list
			list-style-type none
			margin 0 auto
			padding 0
			margin-bottom 24 * $px
			lost-center $screen-lg
			lost-utility clearfix

			+above($screen-md)
				margin-bottom 40 * $px

			+above($screen-lg)
				max-width $screen-lg

			& ^[2..2]__item // .list__item
				height auto
				margin-top 4 * $spacing
				margin-bottom 4 * $spacing
				padding 25 * $px 20 * $px 10 * $px
				border 8 * $px solid $border-color
				background-color $color-primary
				raised()
				transform skewY($skew * -1)
				+above($screen-md)
					padding 50 * $px 40 * $px 40 * $px

				&:nth-child(2n)
					background-color $color-secondary

				&:nth-child(3n)
					background-color $color-tertiary

				+above($screen-sm)
					margin-left 0
					margin-right 0
