.pane
	position relative
	display table
	width 100%
	height 100%
	padding 20 * $px

	&__container
		display table-cell
		vertical-align middle
		padding-top 80 * $px
		padding-left 0
		padding-bottom 80 * $px
		padding-right 0
		text-align center
		background-color $content-wrapper-bg
		border 10 * $px solid $border-color
		box-shadow 4 * $px 4 * $px 5 * $px rgba($gray-base, 0.5)

	&__header
		margin-left 32 * $px
		margin-right 32 * $px
		margin-bottom 24 * $px
		font-size 28 * $px
		line-height 0.8

		+above($screen-sm)
			font-size 40 * $px

		+above($screen-md)
			font-size 56 * $px

	&__description
		max-width $screen-lg
		margin 0 auto
		padding-left 10 * $spacing
		padding-right 10 * $spacing
		font-size 20 * $px
		line-height 1

		+above($screen-sm)
			font-size 24 * $px
			line-height 1.2

		+above($screen-md)
			font-size 32 * $px

		+above($screen-lg)
			padding-left 0
			padding-right 0

	&__prev
	&__next
		position absolute
		left 50%
		display inline-block
		width 80 * $px
		margin-left -40 * $px
		padding 20 * $px
		font-size 20 * $px
		background-color $gray-base
		color $color-primary !important
		raised()

	&__prev
		top 0
		margin-top 4 * $px
		padding-top 25 * $px
		padding-bottom 0

		&::before
			content ""
			position absolute
			top 0
			border-left 20 * $px solid transparent
			border-right 20 * $px solid transparent
			border-bottom 20 * $px solid $color-primary

	&__next
		bottom 0
		margin-bottom 4 * $px
		padding-top 8 * $px

		&::before
			content ""
			position absolute
			bottom 0
			border-left 20 * $px solid transparent
			border-right 20 * $px solid transparent
			border-top 20 * $px solid $color-primary
