mixin contacts
	header( class="pane__header wow fadeIn" )
		| Свяжитесь со&nbsp;мной
	+b('ul').list
		each item in site.data.contacts
			+e.item( class="wow fadeIn", data-wow-duration=duration, data-wow-delay=( delay += stagger ) + "s")
				+e('div').title
					+e('a').link( href=item.link ) !{item.title}
