mixin hello
	+e('div').title--greetings( class="wow fadeInDown", data-wow-duration="0.5s" )
		| Привет!
	+e('div').title--full-name( class="wow fadeInRight", data-wow-duration="0.5s", data-wow-delay="1s" )
		| Я Андрей Карамнов
	+e('div').title--description( class="wow fadeInLeft", data-wow-duration="0.5s", data-wow-delay="1s" )
		| frontend-разработчик
