mixin skills
	header( class="__header wow fadeIn" )
		| Ключевые навыки
	+b('ul').list
		each item in site.data.skills
			+e.item( class="wow fadeIn", data-wow-duration=duration, data-wow-delay=( delay += stagger ) + "s")
				+e('div').title !{item.title}
	+e('div').description
		| отличное знание вышеперечисленных технологий, отслеживание изменений в&nbsp;спецификациях, использование различных библиотек и&nbsp;фреймворков
