mixin tools
	header( elem="header", class="wow fadeIn" )
		| Инструменты, которыми я&nbsp;пользуюсь,
		br
		| работая над проектом
	ul( block="list" )
		each item in site.data.tools
			li( elem="item", class="wow fadeIn", data-wow-duration=duration, data-wow-delay=( delay += stagger ) + "s")
				div( elem="title" )
					each val in item.valuesList
						a( elem="link", target="_blank", href=val.link ) !{val.title}
				ul( mod="nested" )
					li( elem="item" )
						p( elem="text" ) !{item.text}
