mixin tools
	header( class="pane__header wow fadeIn" )
		| Инструменты, которыми я&nbsp;пользуюсь,
		br
		| работая над проектом
	+b('ul').list
		each item in site.data.tools
			+e.item( class="wow fadeIn", data-wow-duration=duration, data-wow-delay=( delay += stagger ) + "s")
				+e('div').title
					each val in item.valuesList
						+e('a').link( target="_blank", href=val.link ) !{val.title}
				+b('ul').list--nested
					+e('li').item
						+e('p').text !{item.text}
