//== Base
//

html
	box-sizing border-box

*
*:before
*:after
	box-sizing inherit

html
body
	height 100%

html
	font-size $base-font-size * $px
	font-family $regular-font-family
	background-color $gray-lighter
	color $text-color
	overflow-x hidden

*:focus
	outline none
