//== Fonts
//

@font-face
	font-family	"Bangers"
	src	url("../fonts/Bangers/bangers_ru.woff") format("woff"), url("../fonts/Bangers/bangers_ru.woff2") format("woff2")
	font-weight normal
	font-style normal

@font-face
	font-family	"JeffScript"
	src	url("../fonts/JeffScript/JeffScript.woff") format("woff"), url("../fonts/JeffScript/JeffScript.woff2") format("woff2")
	font-weight normal
	font-style normal
